<a href="https://colab.research.google.com/github/nan-park/section2_project/blob/main/kor_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# **한국 경제지표 데이터**
- 한은 기준금리, 대출금리(가계대출), 시장금리(콜금리, 국고채 3년)
- 주택매매가격지수, 외환보유액, 월 평균 환율(원/달러)
- 생산자(총/식품에너지이외), 국내공급물가(원재료), 소비자(총/식품에너지이외/생활), 수입/수출(총/식품에너지/식품에너지이외)<br>
(수입/수출 물가지수는 계약통화 기준)<br>
(보통 소비자물가지수를 물가상승률을 나타내는 지표로 사용한다)

In [2]:
from google.colab import files
files.upload(); 
# kor_overall_data.csv
# 연도별_한국_GDP.csv
# 분기별_경제성장률.csv
# 주요지표(연간지표).csv
# 외환보유액.csv
# 가계기업국채_대출현황.csv
# 수출입비율.csv

Saving kor_overall_data.csv to kor_overall_data.csv
Saving 분기별_경제성장률.csv to 분기별_경제성장률.csv
Saving 연도별_한국_GDP.csv to 연도별_한국_GDP.csv

In [214]:
url = 'kor_overall_data.csv'
kor_overall_df = pd.read_csv(url, thousands=',').T

In [215]:
kor_overall_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
통계표,1.3.1. 한국은행 기준금리 및 여수신금리,1.3.3.2.1. 예금은행 대출금리(신규취급액 기준),3.5. 외환보유액,4.1.1.2. 생산자물가지수(특수분류),4.1.1.1. 생산자물가지수(기본분류),4.1.2. 국내공급물가지수,4.2.2. 소비자물가지수(특수분류),4.2.2. 소비자물가지수(특수분류),4.2.2. 소비자물가지수(특수분류),4.3.1.2. 수출물가지수(특수분류),4.3.1.2. 수출물가지수(특수분류),4.3.1.2. 수출물가지수(특수분류),4.3.2.2. 수입물가지수(특수분류),4.3.2.2. 수입물가지수(특수분류),4.3.2.2. 수입물가지수(특수분류),3.1.2.1. 주요국 통화의 대원화환율,4.4.1.1. 주택매매가격지수(KB),"1.3.2.2. 시장금리(월,분기,년)","1.3.2.2. 시장금리(월,분기,년)"
항목명1,한국은행 기준금리,가계대출,외환,식료품에너지이외,총지수,원재료,총지수,식료품 및 에너지제외 지수 3),생활물가지수 4),총지수,식료품에너지,식료품에너지이외,총지수,식료품에너지,식료품에너지이외,원/미국달러(매매기준율),총지수,무담보콜금리 전체,국고채(3년)
항목명2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,계약통화기준,계약통화기준,계약통화기준,계약통화기준,계약통화기준,계약통화기준,평균자료,NaN,NaN,NaN
단위,연%,연리%,천달러,2015=100,2015=100,2015=100,2020=100,2020=100,2020=100,2015=100,2015=100,2015=100,2015=100,2015=100,2015=100,원,2022.01=100,연%,연%
가중치,NaN,NaN,NaN,858.2,1000.0,88.266,1000.0,776.5,529.4,1000.0,92.6,907.4,1000.0,340.6,659.4,NaN,NaN,NaN,NaN

In [216]:
columns = list(kor_overall_df.iloc[0, :]) # columns
columns

['1.3.1. 한국은행 기준금리 및 여수신금리',
 '1.3.3.2.1. 예금은행 대출금리(신규취급액 기준)',
 '3.5. 외환보유액',
 '4.1.1.2. 생산자물가지수(특수분류)',
 '4.1.1.1. 생산자물가지수(기본분류)',
 '4.1.2. 국내공급물가지수',
 '4.2.2. 소비자물가지수(특수분류)',
 '4.2.2. 소비자물가지수(특수분류)',
 '4.2.2. 소비자물가지수(특수분류)',
 '4.3.1.2. 수출물가지수(특수분류)',
 '4.3.1.2. 수출물가지수(특수분류)',
 '4.3.1.2. 수출물가지수(특수분류)',
 '4.3.2.2. 수입물가지수(특수분류)',
 '4.3.2.2. 수입물가지수(특수분류)',
 '4.3.2.2. 수입물가지수(특수분류)',
 '3.1.2.1. 주요국 통화의 대원화환율',
 '4.4.1.1. 주택매매가격지수(KB)',
 '1.3.2.2. 시장금리(월,분기,년)',
 '1.3.2.2. 시장금리(월,분기,년)']

In [217]:
kor_overall_df.columns = columns
kor_overall_df = kor_overall_df.iloc[6:, :]
kor_overall_df.head()

,1.3.1. 한국은행 기준금리 및 여수신금리,1.3.3.2.1. 예금은행 대출금리(신규취급액 기준),3.5. 외환보유액,4.1.1.2. 생산자물가지수(특수분류),4.1.1.1. 생산자물가지수(기본분류),4.1.2. 국내공급물가지수,4.2.2. 소비자물가지수(특수분류),4.2.2. 소비자물가지수(특수분류),4.2.2. 소비자물가지수(특수분류),4.3.1.2. 수출물가지수(특수분류),4.3.1.2. 수출물가지수(특수분류),4.3.1.2. 수출물가지수(특수분류),4.3.2.2. 수입물가지수(특수분류),4.3.2.2. 수입물가지수(특수분류),4.3.2.2. 수입물가지수(특수분류),3.1.2.1. 주요국 통화의 대원화환율,4.4.1.1. 주택매매가격지수(KB),"1.3.2.2. 시장금리(월,분기,년)","1.3.2.2. 시장금리(월,분기,년)"
1985/01,NaN,NaN,6685546.0,NaN,51.94,26.06,29.052,NaN,NaN,127.37,NaN,NaN,70.49,NaN,NaN,830.3,NaN,NaN,NaN
1985/02,NaN,NaN,6843700.0,NaN,51.89,26.1,29.259,NaN,NaN,126.79,NaN,NaN,70.34,NaN,NaN,836.9,NaN,NaN,NaN
1985/03,NaN,NaN,6659195.0,NaN,51.68,26.24,29.289,NaN,NaN,126.42,NaN,NaN,70.12,NaN,NaN,848.97,NaN,NaN,NaN
1985/04,NaN,NaN,6601523.0,NaN,51.94,26.52,29.319,NaN,NaN,126.65,NaN,NaN,70.27,NaN,NaN,859.34,NaN,NaN,NaN
1985/05,NaN,NaN,6541708.0,NaN,51.89,26.85,29.526,NaN,NaN,126.04,NaN,NaN,70.09,NaN,NaN,868.92,NaN,NaN,NaN

In [218]:
# column 이름 수정하기
column_names = ['기준금리', '가계대출금리', '외환보유액', '생산자물가지수_식료품에너지이외', '생산자물가지수_총', '원재료물가지수', '소비자물가지수_총', '소비자물가지수_식료품에너지이외', '소비자물가지수_생활', '수출물가지수_총', '수출물가지수_식료품에너지', '수출물가지수_식료품에너지이외', '수입물가지수_총', '수입물가지수_식료품에너지', '수입물가지수_식료품에너지이외', '원화환율(원/달러)', '주택매매가격지수', '무담보콜금리', '국고채(3년)금리']
kor_overall_df.columns = column_names
kor_overall_df.head()

,기준금리,가계대출금리,외환보유액,생산자물가지수_식료품에너지이외,생산자물가지수_총,원재료물가지수,소비자물가지수_총,소비자물가지수_식료품에너지이외,소비자물가지수_생활,수출물가지수_총,수출물가지수_식료품에너지,수출물가지수_식료품에너지이외,수입물가지수_총,수입물가지수_식료품에너지,수입물가지수_식료품에너지이외,원화환율(원/달러),주택매매가격지수,무담보콜금리,국고채(3년)금리
1985/01,NaN,NaN,6685546.0,NaN,51.94,26.06,29.052,NaN,NaN,127.37,NaN,NaN,70.49,NaN,NaN,830.3,NaN,NaN,NaN
1985/02,NaN,NaN,6843700.0,NaN,51.89,26.1,29.259,NaN,NaN,126.79,NaN,NaN,70.34,NaN,NaN,836.9,NaN,NaN,NaN
1985/03,NaN,NaN,6659195.0,NaN,51.68,26.24,29.289,NaN,NaN,126.42,NaN,NaN,70.12,NaN,NaN,848.97,NaN,NaN,NaN
1985/04,NaN,NaN,6601523.0,NaN,51.94,26.52,29.319,NaN,NaN,126.65,NaN,NaN,70.27,NaN,NaN,859.34,NaN,NaN,NaN
1985/05,NaN,NaN,6541708.0,NaN,51.89,26.85,29.526,NaN,NaN,126.04,NaN,NaN,70.09,NaN,NaN,868.92,NaN,NaN,NaN

In [219]:
# float로 바꾸기
cols = kor_overall_df.columns.tolist()
kor_overall_df[cols] = kor_overall_df[cols].astype(float)

In [220]:
kor_overall_df[kor_overall_df.isna().sum(axis=1)==0]  # 결측치 없는 공통부분은 2000/01~2022/07 기간

,기준금리,가계대출금리,외환보유액,생산자물가지수_식료품에너지이외,생산자물가지수_총,원재료물가지수,소비자물가지수_총,소비자물가지수_식료품에너지이외,소비자물가지수_생활,수출물가지수_총,수출물가지수_식료품에너지,수출물가지수_식료품에너지이외,수입물가지수_총,수입물가지수_식료품에너지,수입물가지수_식료품에너지이외,원화환율(원/달러),주택매매가격지수,무담보콜금리,국고채(3년)금리
2000/01,4.75,10.14,76580519.0,84.70,78.77,43.95,62.456,64.697,59.934,133.88,52.31,146.55,75.15,46.67,92.74,1131.07,38.995,4.770,9.280
2000/02,5.00,10.04,79379080.0,84.52,78.57,44.73,62.647,64.828,60.237,131.28,53.60,143.28,76.15,48.17,93.37,1128.80,39.161,5.000,8.990
2000/03,5.00,10.05,83299048.0,84.43,78.52,44.59,62.962,65.286,60.787,130.26,56.83,141.53,76.63,49.33,93.41,1117.19,39.327,5.100,9.060
2000/04,5.00,9.96,84196399.0,84.17,78.14,41.80,62.709,65.352,60.422,129.79,51.28,141.97,75.05,45.77,93.16,1109.76,39.368,5.100,8.950
2000/05,5.00,9.96,86471266.0,83.90,77.95,44.88,62.393,65.156,59.751,130.16,52.96,142.10,76.32,48.98,93.15,1120.01,39.327,5.130,8.960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022/03,1.25,3.98,433022025.0,115.44,116.70,171.52,106.060,103.720,107.620,116.74,191.84,110.45,138.18,183.83,119.53,1221.03,100.306,1.250,2.369
2022/04,1.50,4.05,425076761.0,116.63,118.59,189.87,106.850,104.110,108.490,117.69,197.47,110.99,136.62,179.86,118.97,1232.34,100.517,1.297,2.941
2022/05,1.75,4.14,423355152.0,117.28,119.43,192.75,107.560,104.600,109.540,118.09,205.42,110.73,138.11,187.61,117.85,1269.88,100.768,1.504,3.019
2022/06,1.75,4.23,414491928.0,117.53,120.10,200.87,108.220,105.040,110.420,118.68,223.58,109.81,138.32,192.03,116.31,1277.35,100.869,1.751,3.477
2022/07,2.25,4.52,415046922.0,117.56,120.44,209.88,108.740,105.430,110.910,113.46,191.89,106.88,132.18,177.49,113.64,1307.40,100.869,1.953,3.238

생산자/원재료/소비자/수출/수입물가지수 등은 따로 볼 필요가 있다.<br>
총지수와 식료품에너지, 식료품에너지이외 지수를 비교하여 물가가 오른 원인을 살펴볼 것<br>
전체 데이터에서 물가상승률을 볼 수 있는 지표는, 원래 다른 것도 모두 고려해야 하지만 대표적으로 '소비자물가지수_총'을 이용할 것이다.<br>

In [221]:
# 물가지수 df 따로 만들기
price_index_df = kor_overall_df.iloc[:, 3:15]
drop_index = list(range(3, 15))
drop_index.remove(6)  # 소비자물가지수_총
drop_columns = kor_overall_df.columns[drop_index]
kor_overall_df_clean = kor_overall_df.copy()
kor_overall_df_clean.drop(drop_columns, axis=1, inplace=True)

In [222]:
price_index_df.head() # 물가지수 데이터 -> 나중에 데이터 시각화를 통해 분석

,생산자물가지수_식료품에너지이외,생산자물가지수_총,원재료물가지수,소비자물가지수_총,소비자물가지수_식료품에너지이외,소비자물가지수_생활,수출물가지수_총,수출물가지수_식료품에너지,수출물가지수_식료품에너지이외,수입물가지수_총,수입물가지수_식료품에너지,수입물가지수_식료품에너지이외
1985/01,NaN,51.94,26.06,29.052,NaN,NaN,127.37,NaN,NaN,70.49,NaN,NaN
1985/02,NaN,51.89,26.10,29.259,NaN,NaN,126.79,NaN,NaN,70.34,NaN,NaN
1985/03,NaN,51.68,26.24,29.289,NaN,NaN,126.42,NaN,NaN,70.12,NaN,NaN
1985/04,NaN,51.94,26.52,29.319,NaN,NaN,126.65,NaN,NaN,70.27,NaN,NaN
1985/05,NaN,51.89,26.85,29.526,NaN,NaN,126.04,NaN,NaN,70.09,NaN,NaN

In [223]:
kor_overall_df_clean.head() # 소비자물가지수_총 빼고 물가지수 데이터 제거

,기준금리,가계대출금리,외환보유액,소비자물가지수_총,원화환율(원/달러),주택매매가격지수,무담보콜금리,국고채(3년)금리
1985/01,NaN,NaN,6685546.0,29.052,830.30,NaN,NaN,NaN
1985/02,NaN,NaN,6843700.0,29.259,836.90,NaN,NaN,NaN
1985/03,NaN,NaN,6659195.0,29.289,848.97,NaN,NaN,NaN
1985/04,NaN,NaN,6601523.0,29.319,859.34,NaN,NaN,NaN
1985/05,NaN,NaN,6541708.0,29.526,868.92,NaN,NaN,NaN

In [225]:
kor_overall_df_clean[kor_overall_df_clean.isna().sum(axis=1)==0]  # 공통부분 : 1999/05~2002/07

,기준금리,가계대출금리,외환보유액,소비자물가지수_총,원화환율(원/달러),주택매매가격지수,무담보콜금리,국고채(3년)금리
1999/05,4.75,11.00,61051324.0,61.712,1197.00,38.374,4.800,6.750
1999/06,4.75,10.46,61629871.0,61.349,1169.63,38.374,4.810,6.880
1999/07,4.75,10.31,64581447.0,61.140,1186.04,38.498,4.840,7.890
1999/08,4.75,10.22,64416959.0,61.765,1199.79,38.747,4.750,8.910
1999/09,4.75,10.21,65110692.0,61.921,1196.97,39.037,4.740,9.330
...,...,...,...,...,...,...,...,...
2022/03,1.25,3.98,433022025.0,106.060,1221.03,100.306,1.250,2.369
2022/04,1.50,4.05,425076761.0,106.850,1232.34,100.517,1.297,2.941
2022/05,1.75,4.14,423355152.0,107.560,1269.88,100.768,1.504,3.019
2022/06,1.75,4.23,414491928.0,108.220,1277.35,100.869,1.751,3.477
2022/07,2.25,4.52,415046922.0,108.740,1307.40,100.869,1.953,3.238

외환위기(1997년) 때를 포함해야 하기 때문에, 그때 결측치인 컬럼이 무엇인지 살펴본다.

In [226]:
kor_overall_df_clean.loc['1997/01']

기준금리                   NaN
가계대출금리        1.204000e+01
외환보유액         3.015428e+07
소비자물가지수_총     5.578600e+01
원화환율(원/달러)    8.498800e+02
주택매매가격지수      4.251800e+01
무담보콜금리        1.139000e+01
국고채(3년)금리     1.217000e+01
Name: 1997/01, dtype: float64

기준금리만 결측치. 한국은행 기준금리는 1999년 처음 도입되었기 때문으로 보인다.<br>
기준금리는 버릴 수 없는 중요한 feature이기 때문에, 일단 임시로 결측치로 둔다.

In [227]:
test_df = kor_overall_df_clean.iloc[:, 1:]
test_df[test_df.isna().sum(axis=1)==0]

,가계대출금리,외환보유액,소비자물가지수_총,원화환율(원/달러),주택매매가격지수,무담보콜금리,국고채(3년)금리
1996/01,12.52,32496360.0,53.289,787.27,41.482,10.460,11.940
1996/02,12.50,34298826.0,53.499,780.28,41.565,10.710,12.010
1996/03,12.46,32634334.0,53.862,781.25,41.689,10.330,11.920
1996/04,12.13,35115676.0,54.226,780.43,41.730,9.460,11.040
1996/05,12.09,35425005.0,54.538,780.16,41.730,11.410,11.010
...,...,...,...,...,...,...,...
2022/03,3.98,433022025.0,106.060,1221.03,100.306,1.250,2.369
2022/04,4.05,425076761.0,106.850,1232.34,100.517,1.297,2.941
2022/05,4.14,423355152.0,107.560,1269.88,100.768,1.504,3.019
2022/06,4.23,414491928.0,108.220,1277.35,100.869,1.751,3.477
2022/07,4.52,415046922.0,108.740,1307.40,100.869,1.953,3.238

기준금리를 제외하면 공통 부분은 1996/01~2002/07.
이 기간만 남겨두고 drop해 따로 저장해둔다.<br>
그 전에 index를 date_index로 바꿔준다.

In [228]:
kor_overall_df.index = pd.to_datetime(kor_overall_df.index)
kor_overall_df.head()

,기준금리,가계대출금리,외환보유액,생산자물가지수_식료품에너지이외,생산자물가지수_총,원재료물가지수,소비자물가지수_총,소비자물가지수_식료품에너지이외,소비자물가지수_생활,수출물가지수_총,수출물가지수_식료품에너지,수출물가지수_식료품에너지이외,수입물가지수_총,수입물가지수_식료품에너지,수입물가지수_식료품에너지이외,원화환율(원/달러),주택매매가격지수,무담보콜금리,국고채(3년)금리
1985-01-01,NaN,NaN,6685546.0,NaN,51.94,26.06,29.052,NaN,NaN,127.37,NaN,NaN,70.49,NaN,NaN,830.30,NaN,NaN,NaN
1985-02-01,NaN,NaN,6843700.0,NaN,51.89,26.10,29.259,NaN,NaN,126.79,NaN,NaN,70.34,NaN,NaN,836.90,NaN,NaN,NaN
1985-03-01,NaN,NaN,6659195.0,NaN,51.68,26.24,29.289,NaN,NaN,126.42,NaN,NaN,70.12,NaN,NaN,848.97,NaN,NaN,NaN
1985-04-01,NaN,NaN,6601523.0,NaN,51.94,26.52,29.319,NaN,NaN,126.65,NaN,NaN,70.27,NaN,NaN,859.34,NaN,NaN,NaN
1985-05-01,NaN,NaN,6541708.0,NaN,51.89,26.85,29.526,NaN,NaN,126.04,NaN,NaN,70.09,NaN,NaN,868.92,NaN,NaN,NaN

In [229]:
# # 드라이브에 저장
# import sys

# if "google.colab" in sys.modules:
#     from google.colab import drive
#     drive.mount('/content/drive')
# kor_overall_df.to_csv("/content/drive/MyDrive/kor_overall_data.csv")  # 물가지수 포함, 전체 기간(1985/01~2022/09)

In [230]:
kor_overall_df_clean.index = pd.to_datetime(kor_overall_df_clean.index)
kor_overall_df_clean.head()

,기준금리,가계대출금리,외환보유액,소비자물가지수_총,원화환율(원/달러),주택매매가격지수,무담보콜금리,국고채(3년)금리
1985-01-01,NaN,NaN,6685546.0,29.052,830.30,NaN,NaN,NaN
1985-02-01,NaN,NaN,6843700.0,29.259,836.90,NaN,NaN,NaN
1985-03-01,NaN,NaN,6659195.0,29.289,848.97,NaN,NaN,NaN
1985-04-01,NaN,NaN,6601523.0,29.319,859.34,NaN,NaN,NaN
1985-05-01,NaN,NaN,6541708.0,29.526,868.92,NaN,NaN,NaN

In [231]:
# kor_overall_df_clean.to_csv("/content/drive/MyDrive/kor_overall_except_pi.csv")  # 물가지수(price_index) 미포함('소비자물가지수_총'만 포함). 전체 기간(1985/01~2022/09)

In [232]:
kor_clean = kor_overall_df_clean.loc['1996':'2022-07'] # 1996/01~2022/09
kor_clean

,기준금리,가계대출금리,외환보유액,소비자물가지수_총,원화환율(원/달러),주택매매가격지수,무담보콜금리,국고채(3년)금리
1996-01-01,NaN,12.52,32496360.0,53.289,787.27,41.482,10.460,11.940
1996-02-01,NaN,12.50,34298826.0,53.499,780.28,41.565,10.710,12.010
1996-03-01,NaN,12.46,32634334.0,53.862,781.25,41.689,10.330,11.920
1996-04-01,NaN,12.13,35115676.0,54.226,780.43,41.730,9.460,11.040
1996-05-01,NaN,12.09,35425005.0,54.538,780.16,41.730,11.410,11.010
...,...,...,...,...,...,...,...,...
2022-03-01,1.25,3.98,433022025.0,106.060,1221.03,100.306,1.250,2.369
2022-04-01,1.50,4.05,425076761.0,106.850,1232.34,100.517,1.297,2.941
2022-05-01,1.75,4.14,423355152.0,107.560,1269.88,100.768,1.504,3.019
2022-06-01,1.75,4.23,414491928.0,108.220,1277.35,100.869,1.751,3.477
2022-07-01,2.25,4.52,415046922.0,108.740,1307.40,100.869,1.953,3.238

In [233]:
# kor_clean.to_csv("/content/drive/MyDrive/kor_overall_data_clean.csv") # 결측치 없는(기준금리 제외) 데이터(1996/01~2022/07)

# **GDP 데이터**
- 경제성장률(%) -> 분기 데이터도 존재함
- 국내총생산(GDP), 국내총생산(PPP 적용) (백만달러)
- 1인당 GDP (달러)

In [21]:
# files.upload(); # 연도별_한국_GDP.csv

In [22]:
url = '연도별_한국_GDP.csv'
kor_gdp_df = pd.read_csv(url, thousands=',').T  # thousands=',' -> 콤마 제거

In [23]:
kor_gdp_df.head()

,0,1,2,3
통계표,9.1.4.1. 국제 주요국 경제성장률,9.1.4.2. 국제 주요국 국내총생산(GDP),9.1.4.3. 국제 주요국 국내총생산(PPP적용),9.1.4.5. 국제 주요국 1인당 GDP
항목명1,한국,한국,한국,한국
단위,%,백만달러,백만달러,달러
변환,원자료,원자료,원자료,원자료
1995,9.6,566595.1,608871.8,12565.0

In [24]:
kor_gdp_df.columns = ['경제성장률', '국내총생산(GDP)', '국내총생산(PPP적용)', '1인당_GDP']
kor_gdp_df = kor_gdp_df.iloc[4:, :]
kor_gdp_df.head()

     경제성장률 국내총생산(GDP) 국내총생산(PPP적용)  1인당_GDP
1995   9.6   566595.1     608871.8  12565.0
1996   7.9   610163.9     668944.0  13402.8
1997   6.2   570594.3     722468.7  12416.6
1998  -5.1   382854.7     693124.6   8271.3
1999  11.5   497253.7     783492.5  10666.8

In [25]:
kor_gdp_df.info() # 결측치 없음. object -> float 바꿔야 함

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 1995 to 2021
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   경제성장률         27 non-null     object
 1   국내총생산(GDP)    27 non-null     object
 2   국내총생산(PPP적용)  27 non-null     object
 3   1인당_GDP       27 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [26]:
cols = kor_gdp_df.columns
kor_gdp_df[cols] = kor_gdp_df[cols].astype(float)
kor_gdp_df

      경제성장률  국내총생산(GDP)  국내총생산(PPP적용)  1인당_GDP
1995    9.6    566595.1      608871.8  12565.0
1996    7.9    610163.9      668944.0  13402.8
1997    6.2    570594.3      722468.7  12416.6
1998   -5.1    382854.7      693124.6   8271.3
1999   11.5    497253.7      783492.5  10666.8
2000    9.1    576482.7      871475.6  12263.5
2001    4.9    547743.1      934349.3  11563.1
2002    7.7    626989.2     1019446.7  13159.6
2003    3.1    702696.2     1058222.7  14672.5
2004    5.2    792532.0     1143105.6  16482.6
2005    4.3    934707.9     1213618.2  19398.3
2006    5.3   1052610.2     1302228.0  21731.1
2007    5.8   1172464.5     1414986.0  24083.2
2008    3.0   1049167.7     1468996.1  21387.6
2009    0.8    943708.5     1454994.4  19139.1
2010    6.8   1143672.2     1572680.4  23079.3
2011    3.7   1253289.5     1625275.5  25097.4
2012    2.4   1278046.6     1684562.9  25459.1
2013    3.2   1370633.0     1726902.8  27179.5
2014    3.2   1484488.5     1792600.2  29252.7
2015    2.8   1466038.9     1933588.9  28737.4
2016    2.9   1499679.8     2026967.8  29280.3
2017    3.2   1623074.1     2103651.3  31600.7
2018    2.9   1725373.4     2220442.3  33447.2
2019    2.2   1651422.9     2225803.9  31902.3
2020   -0.7   1644312.8     2353522.4  31721.4
2021    4.1   1810955.8     2444558.7  34997.7

In [27]:
kor_gdp_df.index # 1995~2021 연도별 데이터

Index(['1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

경제성장률은 아주 좋은 feature이지만, 연도별 데이터이기 때문에 월별 데이터와 합치기에는 무리가 있음.<br>
일단 연도별 데이터로 묶고, 경제성장률은 분기별 데이터를 따로 가져와서 월별로 바꾸자.

In [28]:
# kor_gdp_df.to_csv("/content/drive/MyDrive/kor_gdp_yearly_data.csv")  # GDP 관련 연도별 데이터

# **경제성장률**
- 분기별 데이터(1960/Q2~2022/Q2) -> 월별 데이터로 upsampling하기

물론 데이터를 인위적으로 늘리는 만큼 정확도는 떨어지지만, 경제성장률은 무시하기엔 중요한 feature임.

In [29]:
# files.upload(); # 분기별_경제성장률.csv

In [72]:
url = '분기별_경제성장률.csv'
growth_rate = pd.read_csv(url).T

In [73]:
growth_rate.head()

                             0
통계표      9.1.4.1. 국제 주요국 경제성장률
항목명1                        한국
단위                          %
변환                         원자료
1960/Q2                    4.5

In [74]:
growth_rate.columns = ['경제성장률']
growth_rate = growth_rate.iloc[4:,:]
growth_rate.head()

        경제성장률
1960/Q2   4.5
1960/Q3  -1.1
1960/Q4   0.6
1961/Q1   3.2
1961/Q2   4.3

이 분기별 데이터를 월별 데이터로 바꾸고자 한다(upsampling)<br>
먼저 datetime index로 바꿔준다.

In [75]:
monthly_growth_rate = growth_rate.copy()
monthly_growth_rate.head()

        경제성장률
1960/Q2   4.5
1960/Q3  -1.1
1960/Q4   0.6
1961/Q1   3.2
1961/Q2   4.3

Q1 ~ Q4는 컴퓨터가 이해하기 어려우므로 각각 2월, 5월, 8월, 11월로 바꿔준다<br>
(1분기는 1 ~ 3월인데, 분기초로 잡으면 해석이 잘못될 수 있으므로 분기의 중간으로 쓴다)

In [76]:
date_index = monthly_growth_rate.index
date_index

Index(['1960/Q2', '1960/Q3', '1960/Q4', '1961/Q1', '1961/Q2', '1961/Q3',
       '1961/Q4', '1962/Q1', '1962/Q2', '1962/Q3',
       ...
       '2020/Q1', '2020/Q2', '2020/Q3', '2020/Q4', '2021/Q1', '2021/Q2',
       '2021/Q3', '2021/Q4', '2022/Q1', '2022/Q2'],
      dtype='object', length=249)

In [77]:
date_index = date_index.str.replace('Q1', '02')
date_index = date_index.str.replace('Q2', '05')
date_index = date_index.str.replace('Q3', '08')
date_index = date_index.str.replace('Q4', '11')
date_index

Index(['1960/05', '1960/08', '1960/11', '1961/02', '1961/05', '1961/08',
       '1961/11', '1962/02', '1962/05', '1962/08',
       ...
       '2020/02', '2020/05', '2020/08', '2020/11', '2021/02', '2021/05',
       '2021/08', '2021/11', '2022/02', '2022/05'],
      dtype='object', length=249)

In [78]:
monthly_growth_rate.index = pd.to_datetime(date_index)
monthly_growth_rate.head()

           경제성장률
1960-05-01   4.5
1960-08-01  -1.1
1960-11-01   0.6
1961-02-01   3.2
1961-05-01   4.3

In [79]:
monthly_growth_rate = monthly_growth_rate.resample('MS').mean()
monthly_growth_rate

            경제성장률
1960-05-01    4.5
1960-06-01    NaN
1960-07-01    NaN
1960-08-01   -1.1
1960-09-01    NaN
...           ...
2022-01-01    NaN
2022-02-01    0.6
2022-03-01    NaN
2022-04-01    NaN
2022-05-01    0.7

[745 rows x 1 columns]

In [82]:
# 결측치 채우기
monthly_growth_rate = monthly_growth_rate.interpolate(method='linear')  # 월마다 30, 31일로 다 달라서 동일 간격이 아닐 수 있으므로 선형으로 보간
monthly_growth_rate

               경제성장률
1960-05-01  4.500000
1960-06-01  2.633333
1960-07-01  0.766667
1960-08-01 -1.100000
1960-09-01 -0.533333
...              ...
2022-01-01  0.833333
2022-02-01  0.600000
2022-03-01  0.633333
2022-04-01  0.666667
2022-05-01  0.700000

[745 rows x 1 columns]

이 데이터는 나중에 경제지표 모두 합칠 때 포함할 예정.

# **연도별 데이터**
- 국내총생산, 국민총소득 (명목, 억달러)
- 가계총처분가능소득 (명목, 십억원)
- 국내총생산(실질성장률), 국민총소득, 가계총처분가능소득 (%)<br>
(1975~2021)

In [88]:
files.upload(); # 주요지표(연간지표).csv

Saving 주요지표(연간지표).csv to 주요지표(연간지표).csv

In [99]:
url = "주요지표(연간지표).csv"
yearly_df = pd.read_csv(url, thousands=',').T

In [100]:
yearly_df.head()

,0,1,2,3,4,5
통계표,2.1.1.1. 주요지표(연간지표),2.1.1.1. 주요지표(연간지표),2.1.1.1. 주요지표(연간지표),2.1.1.1. 주요지표(연간지표),2.1.1.1. 주요지표(연간지표),2.1.1.1. 주요지표(연간지표)
계정항목,"국내총생산(명목, 달러표시)","국민총소득(명목, 달러표시)",가계총처분가능소득(명목),국내총생산(실질성장률),국민총소득,가계
단위,억달러,억달러,십억원,%,%,%
변환,원자료,원자료,원자료,원자료,원자료,원자료
1975,217.8,216.1,8146.4,7.8,4.4,77.6

In [101]:
yearly_df.columns = ['국내총생산(명목)(억달러)', '국민총소득(명목)(억달러)', '가처분소득(명목)(십억원)', '국내총생산(실질성장률)(%)', '국민총소득(%)', '가처분소득(%)']
yearly_df = yearly_df.iloc[4:, :]
yearly_df.head()

,국내총생산(명목)(억달러),국민총소득(명목)(억달러),가처분소득(명목)(십억원),국내총생산(실질성장률)(%),국민총소득(%),가처분소득(%)
1975,217.8,216.1,8146.4,7.8,4.4,77.6
1976,299.0,297.7,11045.4,13.2,17.2,76.2
1977,384.5,383.4,14083.2,12.3,13.9,75.5
1978,539.5,541.1,19087.4,11.0,12.4,75.1
1979,646.8,645.6,24043.9,8.7,7.7,74.0

연도별 데이터이므로, 월별 데이터와는 따로 저장해야 하고 참고용으로만 쓰인다.<br>
이미 있는 국내총생산(=GDP), 실질성장률(=경제성장률) 데이터는 드랍해준다.<br>
사실 국민총소득, 가처분소득 모두 상승률이 있긴 하지만 절댓값이 필요할 수도 있으니 남겨둔다.

In [102]:
yearly_df.drop(['국내총생산(명목)(억달러)', '국내총생산(실질성장률)(%)'], axis=1, inplace=True)
yearly_df.head()

     국민총소득(명목)(억달러) 가처분소득(명목)(십억원) 국민총소득(%) 가처분소득(%)
1975          216.1         8146.4      4.4     77.6
1976          297.7        11045.4     17.2     76.2
1977          383.4        14083.2     13.9     75.5
1978          541.1        19087.4     12.4     75.1
1979          645.6        24043.9      7.7     74.0

In [109]:
yearly_df.info()  # float로 바꿔주기

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, 1975 to 2021
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   국민총소득(명목)(억달러)  47 non-null     object
 1   가처분소득(명목)(십억원)  47 non-null     object
 2   국민총소득(%)        47 non-null     object
 3   가처분소득(%)        47 non-null     object
dtypes: object(4)
memory usage: 1.8+ KB

In [110]:
cols = yearly_df.columns.tolist()
yearly_df[cols] = yearly_df[cols].astype(float)
yearly_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, 1975 to 2021
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   국민총소득(명목)(억달러)  47 non-null     float64
 1   가처분소득(명목)(십억원)  47 non-null     float64
 2   국민총소득(%)        47 non-null     float64
 3   가처분소득(%)        47 non-null     float64
dtypes: float64(4)
memory usage: 1.8+ KB

# **월별 실업률**
- 월별 실업률 데이터(1990/01~2022/08)(계절변동조정)

In [103]:
# files.upload(); # 월별_실업률.csv

Saving 월별_실업률.csv to 월별_실업률.csv

In [104]:
url = "월별_실업률.csv"
unemploy_rate = pd.read_csv(url).T

In [106]:
unemploy_rate.columns = ['실업률(%)']
unemploy_rate = unemploy_rate.iloc[4:, :]
unemploy_rate.head()

        실업률(%)
1990/01    2.6
1990/02    2.5
1990/03    2.2
1990/04    2.2
1990/05    2.4

In [107]:
unemploy_rate.info()  # object -> float로 바꿔야 함

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 1990/01 to 2022/08
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   실업률(%)  392 non-null    object
dtypes: object(1)
memory usage: 6.1+ KB

In [113]:
# 데이터타입 float로 바꾸기
col = unemploy_rate.columns.tolist()
unemploy_rate[col] = unemploy_rate[col].astype(float)
unemploy_rate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 1990/01 to 2022/08
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   실업률(%)  392 non-null    float64
dtypes: float64(1)
memory usage: 6.1+ KB

In [114]:
# datetimeindex로 바꾸기
unemploy_rate.index = pd.to_datetime(unemploy_rate.index)
unemploy_rate.head()

            실업률(%)
1990-01-01     2.6
1990-02-01     2.5
1990-03-01     2.2
1990-04-01     2.2
1990-05-01     2.4

실업률 데이터는 월별 데이터이므로, 나중에 월별 한국 경제지표 데이터에 추가할 계획이다.

# **외환보유액**
- 총/외환/금/특별인출권/IMF포지션별 외환보유액 데이터 (모두 천달러 단위)(1971/01~2022/08)<br>
(외환보유액-외환 분류는 예치금, 유가증권 데이터를 합친 데이터)

In [115]:
files.upload(); # 외환보유액.csv

Saving 외환보유액.csv to 외환보유액.csv

In [127]:
url = '외환보유액.csv'
foreign = pd.read_csv(url, thousands=',').T

In [128]:
foreign.columns = ['외환보유액_총(천달러)', '외환보유액_금(천달러)', '외환보유액_특별인출권(천달러)', '외환보유액_IMF포지션(천달러)', '외환보유액_예치금및유가증권(천달러)']
foreign = foreign.iloc[4:, :]
foreign.head()

,외환보유액_총(천달러),외환보유액_금(천달러),외환보유액_특별인출권(천달러),외환보유액_IMF포지션(천달러),외환보유액_예치금및유가증권(천달러)
1971/01,593845,3410,15597,12476,562362
1971/02,566473,3410,15597,12476,534990
1971/03,570047,3410,17597,12476,536564
1971/04,570295,3410,17597,12476,536812
1971/05,573831,3410,17628,12476,540317

In [129]:
foreign.tail()

,외환보유액_총(천달러),외환보유액_금(천달러),외환보유액_특별인출권(천달러),외환보유액_IMF포지션(천달러),외환보유액_예치금및유가증권(천달러)
2022/04,449297713,4794759,14977119,4449074,425076761
2022/05,447711119,4794759,15081254,4479955,423355152
2022/06,438278346,4794759,14567162,4424498,414491928
2022/07,438605367,4794759,14394936,4368750,415046922
2022/08,436432145,4794759,14461976,4326618,412848791

In [131]:
cols = foreign.columns.tolist()
foreign[cols] = foreign[cols].astype(float)
foreign.info()

<class 'pandas.core.frame.DataFrame'>
Index: 620 entries, 1971/01 to 2022/08
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   외환보유액_총(천달러)         620 non-null    float64
 1   외환보유액_금(천달러)         620 non-null    float64
 2   외환보유액_특별인출권(천달러)     620 non-null    float64
 3   외환보유액_IMF포지션(천달러)    620 non-null    float64
 4   외환보유액_예치금및유가증권(천달러)  620 non-null    float64
dtypes: float64(5)
memory usage: 29.1+ KB

In [174]:
# to_datetime
foreign.index = pd.to_datetime(foreign.index)

월별 데이터와 합칠 때, 단위를 조심해야 함.<br>
또 기존 데이터에 외환보유액(외환) 데이터가 이미 있기 때문에 드랍하고 합쳐야 할 듯하다.

# **월별 가계/기업/국채 대출 현황**
- 가계(총/주택/기타) 대출(십억원)
- 기업/국채 대출(십억원)<br>(2007/01~2022/08)

이 데이터는 2007년 부터 있어서 데이터가 많지는 않다. 그래도 연도별 데이터에 넣기

In [132]:
# files.upload(); # 가계기업국채_대출현황.csv

Saving 가계기업국채_대출현황.csv to 가계기업국채_대출현황.csv

In [133]:
url = '가계기업국채_대출현황.csv'
loan_df = pd.read_csv(url, thousands=',').T

In [136]:
loan_df.columns = ['기업대출(십억원)', '가계대출_총(십억원)', '가계대출_주택(십억원)', '가계대출_기타(십억원)', '국채(십억원)']
loan_df = loan_df.iloc[6:, :]
loan_df.head()

        기업대출(십억원) 가계대출_총(십억원) 가계대출_주택(십억원) 가계대출_기타(십억원)    국채(십억원)
2007/01  343611.7    346013.5     241824.7     104188.7  24203.895
2007/02  348538.3    347940.5     242810.7     105129.8  27268.612
2007/03  356374.1    348640.1     243568.7     105071.5  30867.959
2007/04  366182.7    349946.7     243687.2     106259.5  28445.735
2007/05  373640.2    350100.5     242448.4     107652.1  25244.952

In [138]:
cols = loan_df.columns.tolist()
loan_df[cols] = loan_df[cols].astype(float)
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 188 entries, 2007/01 to 2022/08
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   기업대출(십억원)     187 non-null    float64
 1   가계대출_총(십억원)   187 non-null    float64
 2   가계대출_주택(십억원)  187 non-null    float64
 3   가계대출_기타(십억원)  187 non-null    float64
 4   국채(십억원)       188 non-null    float64
dtypes: float64(5)
memory usage: 8.8+ KB

In [141]:
# to_datetime
loan_df.index = pd.to_datetime(loan_df.index)
loan_df = loan_df.drop('2022-08-01') # 결측치
loan_df

            기업대출(십억원)  가계대출_총(십억원)  가계대출_주택(십억원)  가계대출_기타(십억원)     국채(십억원)
2007-01-01   343611.7     346013.5      241824.7      104188.7   24203.895
2007-02-01   348538.3     347940.5      242810.7      105129.8   27268.612
2007-03-01   356374.1     348640.1      243568.7      105071.5   30867.959
2007-04-01   366182.7     349946.7      243687.2      106259.5   28445.735
2007-05-01   373640.2     350100.5      242448.4      107652.1   25244.952
...               ...          ...           ...           ...         ...
2022-03-01  1141807.0     905600.2      632170.2      273430.0  107043.939
2022-04-01  1154672.3     906130.3      633523.9      272606.4  101799.544
2022-05-01  1168754.7     905727.1      633552.2      272174.9  106950.317
2022-06-01  1175761.6     905484.4      634447.6      271036.8   83324.774
2022-07-01  1189146.3     904032.0      635231.0      268801.0   74314.605

[187 rows x 5 columns]

단위가 모두 십억원이라는 점 참고<br>
월별 데이터에 넣거나 그냥 따로 보고 데이터 시각화를 할 수 있을 것 같다.<br>
또 가계대출_총은 2003/10부터 데이터 따로 존재(다른 컬럼은 결측치)하니까 필요하다면 추가할 수도 있을 듯.

# **연도별 수출입비율**
- GDP 대비 수출입비율(1970~2021)<br>
{(수출 총액 + 수입 총액 + 국외수취요소소득 + 국외지급요소소득) ÷ 명목GDP} × 100.<br>

무역의존도 및 대외개방도를 동시에 나타내는 지표.<br>
무역의존도 높음 -> 한국 경제가 해외에서 발생한 충격에 의해 크게 영향을 받을 수 있음을 의미<br>
다른 나라들에 비해 상대적으로 높은 편이다.

In [142]:
# files.upload(); # 수출입비율.csv

Saving 수출입비율.csv to 수출입비율.csv

In [160]:
url = '수출입비율.csv'
dependence_foreign = pd.read_csv(url, index_col=0)

In [161]:
dependence_foreign.head()

      수출입비율
1970   36.0
1971   38.9
1972   41.2
1973   54.8
1974   59.3

연도별 데이터이므로 나중에 연도별 데이터에 합치도록 한다.

수입금액지수, 수출금액지수 데이터도 있으나, 일단 생략하고 나중에 여유가 된다면 분석 및 시각화하기

# **연도별/월별 데이터 합치기**
월별 데이터
- 전반적 경제지표(kor_clean)
- 경제성장률(monthly_growth_rate)
- 실업률(unemploy_rate)
- 외환보유액(foreign)
- 가계/기업/국채 대출현황(loan_df)

연도별 데이터
- GDP(kor_gdp_df)
- 국민총소득/가처분소득 연간지표(yearly_df)
- 수출입비율(dependence_foreign)

월별 데이터는 실제 예측모델에 사용할 데이터이므로 결측치를 고려하며 합치도록 한다.<br>
다만 중요한 feature들도 있으니 결측치 O/X 데이터를 따로 저장해둔다.

In [234]:
monthly_data = pd.concat([kor_clean, monthly_growth_rate, unemploy_rate, foreign, loan_df], axis=1, join='outer') # outer join
monthly_data.head()

,기준금리,가계대출금리,외환보유액,소비자물가지수_총,원화환율(원/달러),주택매매가격지수,무담보콜금리,국고채(3년)금리,경제성장률,실업률(%),외환보유액_총(천달러),외환보유액_금(천달러),외환보유액_특별인출권(천달러),외환보유액_IMF포지션(천달러),외환보유액_예치금및유가증권(천달러),기업대출(십억원),가계대출_총(십억원),가계대출_주택(십억원),가계대출_기타(십억원),국채(십억원)
1960-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.766667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.533333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

형식(단위)을 추가 및 통일하여 컬럼명을 수정해준다.

In [235]:
monthly_data.rename(columns={'기준금리':'기준금리(연%)', '가계대출금리':'가계대출금리(연%)', '외환보유액':'외환보유액_외환(천달러)', '소비자물가지수_총':'소비자물가지수_총(2020=100)', '주택매매가격지수':'주택매매가격지수(2022.01=100)', '무담보콜금리':'콜금리(연%)', '국고채(3년)금리':'국고채3년금리(연%)'}, inplace=True);

In [236]:
monthly_data.head()

,기준금리(연%),가계대출금리(연%),외환보유액_외환(천달러),소비자물가지수_총(2020=100),원화환율(원/달러),주택매매가격지수(2022.01=100),콜금리(연%),국고채3년금리(연%),경제성장률,실업률(%),외환보유액_총(천달러),외환보유액_금(천달러),외환보유액_특별인출권(천달러),외환보유액_IMF포지션(천달러),외환보유액_예치금및유가증권(천달러),기업대출(십억원),가계대출_총(십억원),가계대출_주택(십억원),가계대출_기타(십억원),국채(십억원)
1960-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.766667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.533333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [238]:
monthly_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 748 entries, 1960-05-01 to 2022-08-01
Freq: MS
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   기준금리(연%)               279 non-null    float64
 1   가계대출금리(연%)             319 non-null    float64
 2   외환보유액_외환(천달러)          319 non-null    float64
 3   소비자물가지수_총(2020=100)    319 non-null    float64
 4   원화환율(원/달러)             319 non-null    float64
 5   주택매매가격지수(2022.01=100)  319 non-null    float64
 6   콜금리(연%)                319 non-null    float64
 7   국고채3년금리(연%)            319 non-null    float64
 8   경제성장률                  745 non-null    float64
 9   실업률(%)                 392 non-null    float64
 10  외환보유액_총(천달러)           620 non-null    float64
 11  외환보유액_금(천달러)           620 non-null    float64
 12  외환보유액_특별인출권(천달러)       620 non-null    float64
 13  외환보유액_IMF포지션(천달러)      620 non-null    float64
 14  외환보유액_예치금및유가증권(천달러)    620 non-null    float64
 15  기업대출(십억원)              187 non-null    float64
 16  가계대출_총(십억원)            187 non-null    float64
 17  가계대출_주택(십억원)           187 non-null    float64
 18  가계대출_기타(십억원)           187 non-null    float64
 19  국채(십억원)                187 non-null    float64
dtypes: float64(20)
memory usage: 122.7 KB

In [237]:
monthly_data.loc[:, ['외환보유액_외환(천달러)', '외환보유액_예치금및유가증권(천달러)']].sample(10)  # NaN이거나 일치

            외환보유액_외환(천달러)  외환보유액_예치금및유가증권(천달러)
1990-01-01            NaN           13653871.0
1974-04-01            NaN             996350.0
1962-11-01            NaN                  NaN
2021-12-01    438319248.0          438319248.0
1976-09-01            NaN            2364347.0
1998-11-01     49931276.0           49931276.0
2001-08-01     98686163.0           98686163.0
2001-03-01     94108714.0           94108714.0
1981-10-01            NaN            5895667.0
2015-02-01    352502108.0          352502108.0

위의 두 컬럼은 중복되는 컬럼이다.<br>
이때 전자는 1996-01부터 시작, 후자는 1990-01부터 시작하므로 전자를 제거해준다.

In [239]:
monthly_data.drop('외환보유액_외환(천달러)', axis=1, inplace=True)

In [240]:
monthly_data.head()

,기준금리(연%),가계대출금리(연%),소비자물가지수_총(2020=100),원화환율(원/달러),주택매매가격지수(2022.01=100),콜금리(연%),국고채3년금리(연%),경제성장률,실업률(%),외환보유액_총(천달러),외환보유액_금(천달러),외환보유액_특별인출권(천달러),외환보유액_IMF포지션(천달러),외환보유액_예치금및유가증권(천달러),기업대출(십억원),가계대출_총(십억원),가계대출_주택(십억원),가계대출_기타(십억원),국채(십억원)
1960-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.766667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.533333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [243]:
# monthly_data.to_csv("/content/drive/MyDrive/kor_economic_monthly_data.csv") # 결측치 있는 1960-05~2022-08 데이터

결측치가 없는 데이터를 따로 만든다.

In [244]:
monthly_data[monthly_data.isna().sum(axis=1)==0]

,기준금리(연%),가계대출금리(연%),소비자물가지수_총(2020=100),원화환율(원/달러),주택매매가격지수(2022.01=100),콜금리(연%),국고채3년금리(연%),경제성장률,실업률(%),외환보유액_총(천달러),외환보유액_금(천달러),외환보유액_특별인출권(천달러),외환보유액_IMF포지션(천달러),외환보유액_예치금및유가증권(천달러),기업대출(십억원),가계대출_총(십억원),가계대출_주택(십억원),가계대출_기타(십억원),국채(십억원)
2007-01-01,4.50,6.20,76.496,936.36,60.548,4.630,4.970,1.400000,3.4,240228757.0,74228.0,53600.0,391856.0,239709073.0,343611.7,346013.5,241824.7,104188.7,24203.895
2007-02-01,4.50,6.25,77.017,937.02,60.768,4.600,4.910,1.700000,3.1,242812021.0,74228.0,57803.0,395481.0,242284509.0,348538.3,347940.5,242810.7,105129.8,27268.612
2007-03-01,4.50,6.32,77.464,943.26,60.880,4.600,4.790,1.700000,3.2,243915438.0,74228.0,58102.0,397530.0,243385578.0,356374.1,348640.1,243568.7,105071.5,30867.959
2007-04-01,4.50,6.30,77.761,931.50,60.959,4.680,4.940,1.700000,3.3,247259663.0,74228.0,58582.0,345478.0,246781374.0,366182.7,349946.7,243687.2,106259.5,28445.735
2007-05-01,4.50,6.39,77.836,927.91,60.979,4.620,5.100,1.700000,3.3,250741103.0,74228.0,60982.0,342376.0,250263518.0,373640.2,350100.5,242448.4,107652.1,25244.952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-01,1.25,3.91,104.690,1194.01,100.000,1.181,2.060,0.833333,3.6,461526656.0,4794759.0,15288832.0,4606897.0,436836167.0,1126915.0,909297.2,630939.6,278357.6,84985.899
2022-02-01,1.25,3.93,105.300,1198.34,100.207,1.211,2.285,0.600000,2.7,461766293.0,4794759.0,15313847.0,4614178.0,437043509.0,1132488.1,908074.0,631589.1,276484.8,80999.086
2022-03-01,1.25,3.98,106.060,1221.03,100.306,1.250,2.369,0.633333,2.7,457810337.0,4794759.0,15415450.0,4578104.0,433022025.0,1141807.0,905600.2,632170.2,273430.0,107043.939
2022-04-01,1.50,4.05,106.850,1232.34,100.517,1.297,2.941,0.666667,2.7,449297713.0,4794759.0,14977119.0,4449074.0,425076761.0,1154672.3,906130.3,633523.9,272606.4,101799.544
2022-05-01,1.75,4.14,107.560,1269.88,100.768,1.504,3.019,0.700000,2.8,447711119.0,4794759.0,15081254.0,4479955.0,423355152.0,1168754.7,905727.1,633552.2,272174.9,106950.317

가계/기업/국채 대출현황 데이터만 2007년부터 시작한다.<br>
이 데이터는 데이터시각화만 하고 예측모델에서는 빼야 할 듯하다. 따로 저장만 해놓기(loan_df)

In [247]:
# loan_df.to_csv("/content/drive/MyDrive/kor_loan_data.csv")  # 가계/기업/국채 대출현황 데이터(2007~)

In [248]:
drop_columns = monthly_data.columns[14:19]
drop_columns

Index(['기업대출(십억원)', '가계대출_총(십억원)', '가계대출_주택(십억원)', '가계대출_기타(십억원)', '국채(십억원)'], dtype='object')

In [249]:
monthly_data.drop(drop_columns, axis=1, inplace=True)
monthly_data.head()

,기준금리(연%),가계대출금리(연%),소비자물가지수_총(2020=100),원화환율(원/달러),주택매매가격지수(2022.01=100),콜금리(연%),국고채3년금리(연%),경제성장률,실업률(%),외환보유액_총(천달러),외환보유액_금(천달러),외환보유액_특별인출권(천달러),외환보유액_IMF포지션(천달러),외환보유액_예치금및유가증권(천달러)
1960-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN
1960-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,NaN,NaN
1960-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.766667,NaN,NaN,NaN,NaN,NaN,NaN
1960-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.100000,NaN,NaN,NaN,NaN,NaN,NaN
1960-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.533333,NaN,NaN,NaN,NaN,NaN,NaN

In [250]:
monthly_data_clean = monthly_data[monthly_data.isna().sum(axis=1)==0]
monthly_data_clean  # 1999-05 ~ 2022-05 공통 부분(결측치 x)

,기준금리(연%),가계대출금리(연%),소비자물가지수_총(2020=100),원화환율(원/달러),주택매매가격지수(2022.01=100),콜금리(연%),국고채3년금리(연%),경제성장률,실업률(%),외환보유액_총(천달러),외환보유액_금(천달러),외환보유액_특별인출권(천달러),외환보유액_IMF포지션(천달러),외환보유액_예치금및유가증권(천달러)
1999-05-01,4.75,11.00,61.712,1197.00,38.374,4.800,6.750,4.400000,6.8,61409325.0,66683.0,10831.0,280487.0,61051324.0
1999-06-01,4.75,10.46,61.349,1169.63,38.374,4.810,6.880,3.866667,7.3,61987062.0,66683.0,11556.0,278952.0,61629871.0
1999-07-01,4.75,10.31,61.140,1186.04,38.498,4.840,7.890,3.333333,7.0,64944463.0,66683.0,11787.0,284546.0,64581447.0
1999-08-01,4.75,10.22,61.765,1199.79,38.747,4.750,8.910,2.800000,6.4,64782273.0,66683.0,14706.0,283925.0,64416959.0
1999-09-01,4.75,10.21,61.921,1196.97,39.037,4.740,9.330,2.833333,5.7,65480127.0,66683.0,14909.0,287843.0,65110692.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-01,1.25,3.91,104.690,1194.01,100.000,1.181,2.060,0.833333,3.6,461526656.0,4794759.0,15288832.0,4606897.0,436836167.0
2022-02-01,1.25,3.93,105.300,1198.34,100.207,1.211,2.285,0.600000,2.7,461766293.0,4794759.0,15313847.0,4614178.0,437043509.0
2022-03-01,1.25,3.98,106.060,1221.03,100.306,1.250,2.369,0.633333,2.7,457810337.0,4794759.0,15415450.0,4578104.0,433022025.0
2022-04-01,1.50,4.05,106.850,1232.34,100.517,1.297,2.941,0.666667,2.7,449297713.0,4794759.0,14977119.0,4449074.0,425076761.0
2022-05-01,1.75,4.14,107.560,1269.88,100.768,1.504,3.019,0.700000,2.8,447711119.0,4794759.0,15081254.0,4479955.0,423355152.0

In [251]:
# monthly_data_clean.to_csv("/content/drive/MyDrive/kor_economic_monthly_data_clean.csv") # 결측치 있는 1960-05~2022-08 데이터

연도별 데이터를 합쳐준다.

In [252]:
yearly_data = pd.concat([kor_gdp_df, yearly_df, dependence_foreign], axis=1, join='outer')
yearly_data.head()

,경제성장률,국내총생산(GDP),국내총생산(PPP적용),1인당_GDP,국민총소득(명목)(억달러),가처분소득(명목)(십억원),국민총소득(%),가처분소득(%),수출입비율
1975,NaN,NaN,NaN,NaN,216.1,8146.4,4.4,77.6,NaN
1976,NaN,NaN,NaN,NaN,297.7,11045.4,17.2,76.2,NaN
1977,NaN,NaN,NaN,NaN,383.4,14083.2,13.9,75.5,NaN
1978,NaN,NaN,NaN,NaN,541.1,19087.4,12.4,75.1,NaN
1979,NaN,NaN,NaN,NaN,645.6,24043.9,7.7,74.0,NaN